/* Variables */

//candy colors
$pink: rgb(221, 39, 221)
$teal: rgb(64,224,208)
$dark-purple: rgb(98, 39, 221)
$medium-purple: rgb(163, 39, 221)

//universal
$body-background: rgb(250, 250, 250)
$body-font-color: #3f3f3f

//specified elements
$menu-background: $teal
$menu-font-color: $body-background
$main-text-shadow: rgba($teal, .7)

body
  margin: 0
  padding: 0
  font-family: sans-serif

canvas
  position: fixed
  left: 0
  top: 0
  z-index: -1

  svg
  position: absolute


/* NAV */

.gooey-effect-wrapper
  filter: url('#goo')
  position: relative
  width: 100%
  height: 200px
  margin: 3rem auto 0rem
  text-align: center
  
.blob
  position: absolute
  background: $menu-background
  width: 117px
  height: 117px
  left: 33%
  border-radius: 50%
  a,
  p
    display: block
    margin-top: 3rem
    font-size: 1.2rem
    font-weight: 600
    color: $menu-font-color
  @media screen and (min-width: 426px)
    width: 150px
    height: 150px
    left: 40%
    a,
    p
      font-size: 1.5rem
      margin-top: 3.5rem
  @media screen and (min-width: 1024px)
    left: 45%

.home a,
.portfolio a
  margin: 1.5rem
  @media screen and (min-width: 426px)
    margin: 2rem

.portfolio,
.home
  transform: scale(.9)
  z-index: -1
  transition: transform 800ms ease-in-out

.nav-wrap:hover .portfolio,
.nav-wrap:active .portfolio,
.nav-wrap:focus .portfolio
  transform: translateX(117px) scale(.8)
  @media screen and (min-width: 426px)
    transform: translateX(140px) scale(.8)

.nav-wrap:hover .home,
.nav-wrap:active .home,
.nav-wrap:focus .home
  transform: translateX(-117px) scale(.8)
  @media screen and (min-width: 426px)
    transform: translateX(-140px) scale(.8)

.menu
  animation: menu-pulse 1s ease-in-out alternate infinite

.nav-wrap:hover .menu
  animation-play-state: paused
  
@keyframes menu-pulse
  100% 
    transform: scale(.95)